<div class="left_panel_occurrence">

  <% if occurrence.type != nil %>
  <%#todo: refactor code to get image path from DB (types table) %>
    <% case occurrence.type.description %>
    <% when "Acidente de Trânsito Sem Vítima" %>
      <img class="left_panel_occurrence_image" src="rails.png" alt="Acidente de Trânsito Sem Vítima"/>
    <% when "Furto" %>
      <img class="left_panel_occurrence_image" src="rails.png" alt="Furto"/>
    <% when "Pessoa Desaparecida" %>
      <img class="left_panel_occurrence_image" src="rails.png" alt="Pessoa Desaparecida"/>
    <% end %>

  <% else %>
      <img class="left_panel_occurrence_image" src="rails.png" alt="Tipo Não Cadastrado"/>

  <% end %>

  <span class="left_panel_occurrence_date"><%= occurrence.date %></span><br />
  <span class="left_panel_occurrence_hour"><%= occurrence.hour.description %></span>

</div>